/*style for index html*/






/*style for 404*/




/*style for services*/





/*style for spring-summer*/




/*style for world*/






/*style for art of living*/


.aol-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.aol-lv {
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.aol-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aol-navcontainer {
    list-style: none;
    display: flex;
    column-gap: 15px;
}

.aol-navlinks {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
}

.aol-filterbar {
    display: flex;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
    min-height: 64px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 -1px 0 #eae8e4;
    background-color: #fff;  
}
.aol-name {
    display: flex;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 700;
    color: inherit;   
}
.aol-filtercontainer {
    box-sizing: border-box;
    width: 100%;
}
.row-aol {
    width: 100vh%;
    border: 1px solid rgba(0, 0, 0, 0.100);
    display: flex;
}
.aol-col-1 {
    width: 180%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 6px;
    font-size: 14px;
}
.aol-col-2 {
    float: left;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.100);
    font-size: 12px;
    font-weight: normal;
    padding-top: 8px;
    padding-left: 10px;
}
.aol-imagebox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.aol-imagebox img {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(172, 195, 204, 0.282);
}
img:hover {
    cursor: pointer;
}
.aol-imgdescription p {
    text-align: center;
    display: inline-block;
    font-size: 8px;
    font-style: normal;
    font-weight: bold;
}

.aol-id1 {
    margin-right: 240px;
}

.aol-id2 {
    margin-right: 400px;
}


